process {
    withName: 'CONTAMINANT_FILTER:BLAT.*' {
        ext.args = '-out=blast8'
        ext.prefix = {"${meta.id}_${meta2.id}"}
        tag = {"${meta.id} ${meta2.id}"}
    }

    withName: 'CONTAMINANT_FILTER:GAWK.*' {
        ext.prefix = {"significant_hits_${meta.id}"}
    }

    withName: 'CONTAMINANT_FILTER:SEQKIT_GREP.*' {
        ext.prefix = {"filtered_${meta.id}"}
        ext.args = '-v'
    }
}
