process {
    withName: 'CONTAMINANT_FILTER:BLAT.*' {
        ext.args = '-out=blast8'
        ext.prefix = {"${meta.id}_${meta2.id}"}
        tag = {"${meta.id} ${meta2.id}"}
    }

    withName: 'CONTAMINANT_FILTER:GAWK.*' {
        ext.prefix = {"significant_hits_${meta.id}"}
    }

    withName: 'CONTAMINANT_FILTER:SEQKIT_GREP.*' {
        ext.prefix = {"filtered_${meta.id}"}
        ext.args = '-v'
    }

    withName: 'CONTAMINANT_FILTER:STATS_GAWK_OTHER' {
        ext.prefix = {"${meta.contaminant}_${meta.id}"}
        ext.suffix = "stats"
        ext.args2 = '\'BEGIN {tot=0} {if(NR==4 || NR==5){tot+=\$1}} END {print "\\"' + "other" + '\\": " tot}\''
    }

    withName: 'CONTAMINANT_FILTER:STATS_GAWK_TRNA' {
        ext.prefix = {"${meta.contaminant}_${meta.id}"}
        ext.suffix = "stats"
        ext.args2 = '\'BEGIN {tot=0} {if(NR==4 || NR==5){tot+=\$1}} END {print "\\"' + "tRNA" + '\\": " tot}\''
    }

    withName: 'CONTAMINANT_FILTER:STATS_GAWK_NCRNA' {
        ext.prefix = {"${meta.contaminant}_${meta.id}"}
        ext.suffix = "stats"
        ext.args2 = '\'BEGIN {tot=0} {if(NR==4 || NR==5){tot+=\$1}} END {print "\\"' + "ncRNA" + '\\": " tot}\''
    }
}
