/*
========================================================================================
    Config file for defining DSL2 per module options and publishing paths
========================================================================================
    Available keys to override module options:
        ext.args            = Additional arguments appended to command in module.
        ext.args2           = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3           = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix          = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

params {
    modules {
        'fastqc' {
            args = "--quiet"
        }
        'multiqc' {
            args = ""
        }
        'trimgalore' {
            args            = '--fastqc'
            publish_files   = ['txt':'', 'html':'fastqc', 'zip':'fastqc']
        }
        'cat_fastq' {
            publish_dir     = ['fastq': 'merged']
        }
        'samtools_view' {
            args            = '-bS'
        }
        'map_mirna' {
            publish_files     = ['gz':'fastq']
            publish_dir       = "unmapped"
        }
        'samtools_sort' {
            suffix          = '.sorted'
            publish_files   = [:]
            publish_dir     = "samtools"
        }
        'samtools_index' {
            args            = ''
            suffix          = '.sorted'
            publish_files   = ['stats':'samtools_stats', 'flagstat':'samtools_stats', 'idxstats':'samtools_stats']
            publish_dir     = "samtools"
        }
        'table_merge' {
            publish_files   = ['tsv':'.']
        }
    }
}
