/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    AWS ECR Config
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config to set public AWS ECR images wherever possible
    This improves speed when running on AWS infrastructure.
    Use this as an example template when using your own private registry.
----------------------------------------------------------------------------------------
*/

docker.registry = 'public.ecr.aws'
podman.registry = 'public.ecr.aws'

process {
    withName: '.*:SAMPLESHEET_CHECK' {
        container = "quay.io/biocontainers/python:3.8.3"
    }
    withName: '.*:BOWTIE_MAP.*' {
        container = 'quay.io/biocontainers/mulled-v2-ffbf83a6b0ab6ec567a336cf349b80637135bca3:40128b496751b037e2bd85f6789e83d4ff8a4837-0'
    }
    withName: '.*:EDGER_QC' {
        container = 'quay.io/biocontainers/mulled-v2-419bd7f10b2b902489ac63bbaafc7db76f8e0ae1:709335c37934db1b481054cbec637c6e5b5971cb-0'
    }
    withName: '.*:MIRTOP_QUANT' {
        container = 'quay.io/biocontainers/mulled-v2-0c13ef770dd7cc5c76c2ce23ba6669234cf03385:63be019f50581cc5dfe4fc0f73ae50f2d4d661f7-0'
    }
    withName: '.*:TABLE_MERGE' {
        container = 'quay.io/biocontainers/r-data.table:1.12.2'
    }
}
