/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/smrnaseq -profile test,<docker/singularity>
 */

params {
  config_profile_name = 'Test profile'
  config_profile_description = 'Minimal test dataset to check pipeline function'
  // Limit resources so that this can run on GitHub Actions
  max_cpus = 2
  max_memory = 6.GB
  max_time = 48.h

  // Input data
  input_paths = [
    'https://github.com/nf-core/test-datasets/raw/smrnaseq/testdata/sample_1.fastq.gz',
    'https://github.com/nf-core/test-datasets/raw/smrnaseq/testdata/sample_2.fastq.gz',
    'https://github.com/nf-core/test-datasets/raw/smrnaseq/testdata/sample_3.fastq.gz'
  ]
  // Genome references
  bt_indices = [
    'https://github.com/nf-core/test-datasets/raw/smrnaseq/reference/genome.1.ebwt',
    'https://github.com/nf-core/test-datasets/raw/smrnaseq/reference/genome.2.ebwt',
    'https://github.com/nf-core/test-datasets/raw/smrnaseq/reference/genome.3.ebwt',
    'https://github.com/nf-core/test-datasets/raw/smrnaseq/reference/genome.4.ebwt',
    'https://github.com/nf-core/test-datasets/raw/smrnaseq/reference/genome.rev.1.ebwt',
    'https://github.com/nf-core/test-datasets/raw/smrnaseq/reference/genome.rev.1.ebwt'
  ]
  gtf = 'https://github.com/nf-core/test-datasets/raw/smrnaseq/reference/genes.gtf'
  mature = 'https://github.com/nf-core/test-datasets/raw/smrnaseq/reference/mature.fa'
  hairpin = 'https://github.com/nf-core/test-datasets/raw/smrnaseq/reference/hairpin.fa'
  mirna_gtf = 'https://github.com/nf-core/test-datasets/raw/smrnaseq/reference/hsa.gff3'
  mirtrace_species = "hsa"
  skip_mirdeep = true
  // Ignore `--input` as otherwise the parameter validation will throw an error
  schema_ignore_params = 'genomes,input_paths,input'
}
