/*
========================================================================================
    Nextflow config file for running minimal tests
========================================================================================
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/smrnaseq -profile test_nextflex,<docker/singularity>

----------------------------------------------------------------------------------------
*/
// This test profile tests nextflex without genome and paired end sample handling

params {
    config_profile_name        = 'Nextflex Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'

    // Input data
    input               = 'https://raw.githubusercontent.com/nf-core/test-datasets/smrnaseq/samplesheet/v2.0/samplesheet_test_nextflex.csv'
    mature              = 'https://github.com/nf-core/test-datasets/raw/smrnaseq/reference/mature.fa'
    hairpin             = 'https://github.com/nf-core/test-datasets/raw/smrnaseq/reference/hairpin.fa'
    mirna_gtf           = 'https://github.com/nf-core/test-datasets/raw/smrnaseq/reference/hsa.gff3'
    mirtrace_species    = 'hsa'

    skip_mirdeep             = true
    save_intermediates       = true
    //skip_fastp // this profile should not be used with skip_fastq to allow for testing paired end sample handling

}

// Include nextflex config to run test without additional profiles

includeConfig 'protocol_nextflex.config'
