/*
========================================================================================
    Nextflow config file for running minimal tests
========================================================================================
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/smrnaseq -profile test,<docker/singularity>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = 6.GB
    max_time   = 6.h

    // Input data
    //   input = 'https://raw.githubusercontent.com/nf-core/test-datasets/smrnaseq/testdata/samplesheet.csv'
    // Genome references
 //   bt_indices = [
 //     'https://github.com/nf-core/test-datasets/raw/smrnaseq/reference'
 //   ]
 //   gtf = 'https://github.com/nf-core/test-datasets/raw/smrnaseq/reference/genes.gtf'
 //   mature = 'https://github.com/nf-core/test-datasets/raw/smrnaseq/reference/mature.fa'
 //   hairpin = 'https://github.com/nf-core/test-datasets/raw/smrnaseq/reference/hairpin.fa'
 //   mirna_gtf = 'https://github.com/nf-core/test-datasets/raw/smrnaseq/reference/hsa.gff3'

    input = 'https://github.com/nf-core/test-datasets/raw/smrnaseq-better-input/testdata/samplesheet.csv'
    fasta = 'https://github.com/nf-core/test-datasets/raw/smrnaseq-better-input/reference/genome.fa'
    mature = 'https://github.com/nf-core/test-datasets/raw/smrnaseq-better-input/reference/mature.fa'
    hairpin = 'https://github.com/nf-core/test-datasets/raw/smrnaseq-better-input/reference/hairpin.fa'
    mirna_gtf = 'https://github.com/nf-core/test-datasets/raw/smrnaseq-better-input/reference/hsa.gff3'
    mirtrace_species = "hsa"
    skip_mirdeep = true

}
