/*
 * -------------------------------------------------
 *  Nextflow config file for running full-size tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a full size pipeline test. Use as follows:
 *   nextflow run nf-core/smrnaseq -profile test_full,<docker/singularity>
 */

params {
  config_profile_name = 'Full test profile'
  config_profile_description = 'Full test dataset to check pipeline function'

  // Input data for full size test
  input_paths = [
    's3://nf-core-awsmegatests/smrnaseq/input_data/SRR5398625_GSM2560978_control_preclinic3_Homo_sapiens_ncRNA-Seq.fastq.gz',
    's3://nf-core-awsmegatests/smrnaseq/input_data/SRR5398623_GSM2560976_control_preclinic1_Homo_sapiens_ncRNA-Seq.fastq.gz',
    's3://nf-core-awsmegatests/smrnaseq/input_data/SRR5398626_GSM2560979_control_preclinic4_Homo_sapiens_ncRNA-Seq.fastq.gz',
    's3://nf-core-awsmegatests/smrnaseq/input_data/SRR5398624_GSM2560977_control_preclinic2_Homo_sapiens_ncRNA-Seq.fastq.gz',
    's3://nf-core-awsmegatests/smrnaseq/input_data/SRR5398627_GSM2560980_control_preclinic5_Homo_sapiens_ncRNA-Seq.fastq.gz',
    's3://nf-core-awsmegatests/smrnaseq/input_data/SRR5398628_GSM2560981_control_preclinic6_Homo_sapiens_ncRNA-Seq.fastq.gz',
    's3://nf-core-awsmegatests/smrnaseq/input_data/SRR5398631_GSM2560984_preclinic3_Homo_sapiens_ncRNA-Seq.fastq.gz',
    's3://nf-core-awsmegatests/smrnaseq/input_data/SRR5398629_GSM2560982_preclinic1_Homo_sapiens_ncRNA-Seq.fastq.gz',
    's3://nf-core-awsmegatests/smrnaseq/input_data/SRR5398630_GSM2560983_preclinic2_Homo_sapiens_ncRNA-Seq.fastq.gz',
    's3://nf-core-awsmegatests/smrnaseq/input_data/SRR5398632_GSM2560985_preclinic4_Homo_sapiens_ncRNA-Seq.fastq.gz',
    's3://nf-core-awsmegatests/smrnaseq/input_data/SRR5398633_GSM2560986_preclinic5_Homo_sapiens_ncRNA-Seq.fastq.gz',
    's3://nf-core-awsmegatests/smrnaseq/input_data/SRR5398634_GSM2560987_preclinic6_Homo_sapiens_ncRNA-Seq.fastq.gz',
    's3://nf-core-awsmegatests/smrnaseq/input_data/SRR5398636_GSM2560989_preclinic7_Homo_sapiens_ncRNA-Seq.fastq.gz',
    's3://nf-core-awsmegatests/smrnaseq/input_data/SRR5398639_GSM2560992_control_clinic3_Homo_sapiens_ncRNA-Seq.fastq.gz',
    's3://nf-core-awsmegatests/smrnaseq/input_data/SRR5398635_GSM2560988_control_preclinic7_Homo_sapiens_ncRNA-Seq.fastq.gz',
    's3://nf-core-awsmegatests/smrnaseq/input_data/SRR5398638_GSM2560991_control_clinic2_Homo_sapiens_ncRNA-Seq.fastq.gz',
    's3://nf-core-awsmegatests/smrnaseq/input_data/SRR5398637_GSM2560990_control_clinic1_Homo_sapiens_ncRNA-Seq.fastq.gz',
    's3://nf-core-awsmegatests/smrnaseq/input_data/SRR5398640_GSM2560993_control_clinic4_Homo_sapiens_ncRNA-Seq.fastq.gz',
    's3://nf-core-awsmegatests/smrnaseq/input_data/SRR5398641_GSM2560994_control_clinic5_Homo_sapiens_ncRNA-Seq.fastq.gz',
    's3://nf-core-awsmegatests/smrnaseq/input_data/SRR5398643_GSM2560996_clinic1_Homo_sapiens_ncRNA-Seq.fastq.gz',
    's3://nf-core-awsmegatests/smrnaseq/input_data/SRR5398642_GSM2560995_control_clinic6_Homo_sapiens_ncRNA-Seq.fastq.gz',
    's3://nf-core-awsmegatests/smrnaseq/input_data/SRR5398644_GSM2560997_clinic2_Homo_sapiens_ncRNA-Seq.fastq.gz',
    's3://nf-core-awsmegatests/smrnaseq/input_data/SRR5398645_GSM2560998_clinic3_Homo_sapiens_ncRNA-Seq.fastq.gz',
    's3://nf-core-awsmegatests/smrnaseq/input_data/SRR5398646_GSM2560999_clinic4_Homo_sapiens_ncRNA-Seq.fastq.gz',
    's3://nf-core-awsmegatests/smrnaseq/input_data/SRR5398649_GSM2561002_control_clinic7_Homo_sapiens_ncRNA-Seq.fastq.gz',
    's3://nf-core-awsmegatests/smrnaseq/input_data/SRR5398647_GSM2561000_clinic5_Homo_sapiens_ncRNA-Seq.fastq.gz',
    's3://nf-core-awsmegatests/smrnaseq/input_data/SRR5398648_GSM2561001_clinic6_Homo_sapiens_ncRNA-Seq.fastq.gz',
    's3://nf-core-awsmegatests/smrnaseq/input_data/SRR5398650_GSM2561003_clinic7_Homo_sapiens_ncRNA-Seq.fastq.gz'
  ]

  genome = 'GRCh38'
  // Ignore `--input` as otherwise the parameter validation will throw an error
  schema_ignore_params = 'genomes,input_paths,input'
}


