/*
vim: syntax=groovy
-*- mode: groovy;-*-
 * -------------------------------------------------
 *  Nextflow config file with environment modules for UPPMAX
 * -------------------------------------------------
 */

singularity {
  enabled = false
}

process {
  // Environment modules and resource requirements
  $makeBowtieIndex.module = ['bioinfo-tools', 'Fastx/0.0.14', 'bowtie/1.2.0']
  $fastqc.module = ['bioinfo-tools', 'FastQC/0.11.5']
  $trim_galore.module = ['bioinfo-tools', 'TrimGalore/0.4.4', 'FastQC/0.11.5']
  $bowtie_miRBase_mature.module = ['bioinfo-tools', 'bowtie/1.2.0', 'samtools/1.8']
  $bowtie_miRBase_hairpin.module = ['bioinfo-tools', 'bowtie/1.2.0', 'samtools/1.8']
  $miRBasePostAlignment.module = ['bioinfo-tools', 'samtools/1.8']
  $edgeR_miRBase.module = ['bioinfo-tools', 'R/3.2.3']
  $bowtie_ref.module = ['bioinfo-tools', 'bowtie/1.2.0', 'samtools/1.8']
  $bowtie_unmapped.module = ['bioinfo-tools', 'samtools/1.8']
  $get_software_versions.module = ['bioinfo-tools', 'Fastx/0.0.14', 'bowtie/1.2.0', 'FastQC/0.11.5', 'TrimGalore/0.4.4', 'samtools/1.8', 'MultiQC/1.3']
  $multiqc.module = ['bioinfo-tools', 'MultiQC/1.3']
}
